#crossroads {font-family:'Exo', sans-serif; position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:7; border:0; background-color:#edede7;  display:none;}

#crossroads .sidebar {position:absolute; left:15px; top:12px; z-index:8; color:#7f8180; border-radius:5px; background-color:#f0f0ec; min-width:360px; box-shadow: 2px 2px 5px #999999;}
#crossroads .sidebar .header {background-color:#222121; height:50px; background-image:url(crossroads-logo.png); background-repeat:no-repeat; background-size:auto; background-position:12px center;}
#crossroads .sidebar .title {color:white; background-color:#ed7e42; font-size:0.85rem; white-space:nowrap; padding:6px 22px 6px 14px;}
#crossroads .sidebar .justify {background-image:url(justify-icon.png); background-size:60%; height:18px; width:20px; background-position:left center; float:left; background-repeat:no-repeat; margin-right:8px; margin-left:4px;}

#crossroads .details_screen {position:absolute; z-index:8; background-color:#000000; opacity:0.30; top:0px; left:0px; width:100%; height:100%; border-radius:5px;}
#crossroads .details {position:relative; z-index:9; top:5vh; left:5vw; height:87vh; width:90vw; background-color:#edede7; border-radius:5px;}
#crossroads .details > div {height:100%;}
#crossroads .details > div:first-of-type {width:60%; float:left; padding:8vh 3vw 8vh 3vw;}
#crossroads .details > div:first-of-type > div {width:100%; height:100%; background-size:contain; background-position:center center; background-repeat:no-repeat;}
#crossroads .details > div:last-of-type {width:39%; float:right;}
#crossroads .details > div:last-of-type > div {position:relative; top:50%; transform:translateY(-50%);}
#crossroads .details .field {color:#2aaad4; font-weight:bold; font-size:0.85rem; padding:10px 20px 10px 0px;}
#crossroads .details .value {color:#222222; font-weight:normal; font-size:0.85rem; padding:10px 0px 10px 0px;}
#crossroads .details .buttons {padding-top:50px !important; white-space:nowrap;}
#crossroads .details .buttons .btn {margin-right:20px; padding-left:22px; padding-right:22px; }
#crossroads .details .close-button {position:absolute; bottom:20px; right:26px; padding-left:22px; padding-right:22px; }
#crossroads .details .btn-crossroads {color:#ffffff; font-weight:bold; background-color:#f3803a; border-color:#f3803a}

#crossroads .wrapper {position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:6;}
#crossroads .content {position:relative; left:0px; opacity:0; top:23vh;}
#crossroads .content td {padding:0px 0px 0px 0px; margin:0px; vertical-align:top; position:relative;}
#crossroads .content td > div:not(.anno) {margin:0px 20px 0px 20px;}

#crossroads .content td > .mast {text-align:center; color:#404243; position:absolute; bottom:57vh; left:-10%; width:110%; right:0px; display:none;}
#crossroads .content td > .mast .title {font-size:1.3rem; line-height:140%;}
#crossroads .content td > .mast .credit {font-size:1.05rem; line-height:130%; padding-top:4px;}
#crossroads .content td > .mast .address {font-size:0.70rem; line-height:120%; padding-top:8px;}

#crossroads .content td> .anno {
    font-size:0.75rem; position:absolute; width:50vw; color:#969a9c; font-family:Arial;
    left: 50%; transform: translate(-50%, -50%); display:none;
}

#crossroads .content td.blank > div:first-of-type > div {width:300px; height:320px;}

#crossroads .content td.title_card > div:first-of-type {border:solid 4px #151515; border-radius:2px;}
#crossroads .content td.title_card > div:first-of-type > div {width:45vw; height:45vh; background-color:#ffffff; color:#3e4041; padding:36px 40px 40px 40px;}
#crossroads .content td.title_card > div:first-of-type > div h4 {font-size:2.0rem; font-weight:900;line-height:130%; margin-bottom:0.75rem;}
#crossroads .content td.title_card > div:first-of-type > div h6 {font-size:0.75rem; font-weight:bold; color:#ed7e42; text-transform:uppercase;}
#crossroads .content td.title_card > div:first-of-type > div p {font-size:1.25rem; line-height:130%; margin-bottom:0.75rem;}

#crossroads .content td.bucket > div:first-of-type {}
#crossroads .content td.bucket > div:first-of-type > div {width:45vw; height:45vh; background-color:#bbc1bc; color:#333333; font-weight:900; padding:40px 40px 40px 40px;}
#crossroads .content td.bucket > div:first-of-type > div .by {color:#cccccc; font-size:smaller;}

#crossroads .content td.quote > div:first-of-type {}
#crossroads .content td.quote > div:first-of-type > div {width:45vw; height:45vh; background-color:#000000; color:#ffffff; padding:40px 40px 40px 40px;}
#crossroads .content td.quote > div:first-of-type > div .by {color:#2ebb9b; font-size:small;}

#crossroads .content td.assertion > div:first-of-type {}
#crossroads .content td.assertion > div:first-of-type > div {width:45vw; height:45vh; background-color:#2aaad4; color:#ffffff; padding:40px 40px 50px 40px;}

#crossroads .content td.image > div:first-of-type > div {height:45vh;}
#crossroads .content td.image > div:first-of-type > div > img {height:100%; display:block; margin-left:auto; margin-right:auto;}

#crossroads .content td.link > div:first-of-type > div {width:45vw; height:45vh; background-color:#666666; color:#ffffff; padding:30px 20px 30px 20px; }

#crossroads .content td.video {}
#crossroads .content td.video > div:first-of-type {}
#crossroads .content td.video > div:first-of-type > div {}
#crossroads .content td.audio {}
#crossroads .content td.audio > div:first-of-type {}
#crossroads .content td.audio > div:first-of-type > div {}
#crossroads .content td.document > div:first-of-type > div {}