body {background-color:#000000; font-family:Verdana; overflow:hidden;}
#site {position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:7; border:0; background-color:#000000;}
.custom_msg {
    position:absolute; left:10%; right:10%; top:5px; z-index:8; background-color:#000000; color:#888888; border-radius:10px;
    text-align:center; padding:6px 10px 6px 10px; overflow:hidden; font-size:smaller;
}
#panel {
	position:absolute; top:0px; bottom:0px; left:0px; right:0px; background-color:#000000; color:#cccccc; z-index:8; 
	padding-left:40px; padding-right:40px; overflow:auto; display:none;
}
#panel .col {padding-top:12px; cursor:pointer;}
#panel .row:not(:first-child) .col {max-height:196px; margin-bottom:18px; overflow:hidden; position:relative;}
#panel .gradient {position:absolute; top:0px; left:0px; bottom:0px; right:0px; background: linear-gradient(to bottom, rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%);}
#panel .col.hl {background-color:#333333; border-radius:5px;}
#panel .col.hl .gradient {background: linear-gradient(to bottom, rgba(0,0,0,0) 80%,rgba(51,51,51,1) 100%);}
#panel h2 {margin-bottom:1rem;}
#panel .path-title {padding:40px 20px 16px 20px;}
#panel .path-title .title, #panel .path-title .desc {text-align:center;}
#panel .path-title .desc {font-size:1rem;}
#panel img {margin:0px 12px 0.8rem 0px; width:50px; height:50px;}
#panel h6 {font-weight:bold; font-size:0.7rem; line-height:150%;}
#panel .institution {font-size:0.7rem; font-weight:normal; line-height:150%; margin-bottom:0.4rem;}
#panel .authors {font-size:0.7rem; font-weight:normal; line-height:150%;}
#panel .version_num {position:absolute; top:2px; left:0px; right:0px; font-size:12px; color:#999999; height:16px; text-align:center;}
#nav {position:absolute; top:95%; bottom:4px; left:20%; right:20%; border-radius:15px; color:#f3803a; opacity:0; z-index:8;}
#nav span, #nav img {cursor:pointer;}
#nav.row {margin-left:0; margin-right:0;}
#nav .col {overflow:hidden;}
#nav a {color:#e06029;}
#nav a:hover {text-decoration:none;}
#scroll-wrapper {
    background-image:url(scroll.png); height:92%; flex-grow:0.1; margin-top:1px; cursor:pointer; background-position:center center; background-size:23%; 
    background-repeat:no-repeat; border-radius:30px; border:dotted 1px #de691b; background-color:#494649; box-shadow:0px 0px 3px #666666; opacity:0;
}
#logo-wrapper {
    background-image:url(commonplace-logo.png); height:92%; margin-top:1px; cursor:pointer; background-position:center center; background-size:70%; 
    background-repeat:no-repeat; border-radius:30px; border:dotted 1px #de691b; background-color:#494649; box-shadow:0px 0px 3px #666666;
}
#pointer-wrapper {
    background-image:url(pointer.png); height:92%; flex-grow:0.1; margin-top:1px; cursor:pointer; background-position:center center; background-size:40%; 
    background-repeat:no-repeat; border-radius:30px; border:dotted 1px #de691b; background-color:#494649; box-shadow:0px 0px 3px #666666; opacity:0;
}
#nav .col:not(#logo-wrapper) {/* padding-top:0.5rem; */ text-align:center; font-size:0.8rem; color:#777777;}
#nav .col mark {padding:0px 0px 0px 0px;; background-color:inherit; color:#999999;}
.btn-dotted {
    padding:5px 16px 0px 16px; margin-top:1px; border:dotted 1px #e06029; border-radius:30px; font-size:0.75rem; background-color:#494649; 
    height:92%; text-shadow: 0px 0px 1px #000000; vertical-align:middle; display:inline-block; box-shadow:0px 0px 3px #666666;
}
.btn-dotted.blank {color:#494649 !important; text-shadow:none;}
#nav .col:not(#logo-wrapper).has-btn {/* padding-top:0.45rem; */}
.modal-lg {max-width:850px !important;}
#aboutPlatformModal .modal-footer, #aboutProjectModal .modal-footer, #emailModal .modal-footer {border-top:none; padding-top:0;}
#aboutPlatformModal .thumb, #aboutProjectModal .thumb {margin:0px 14px 0.8rem 0px; width:50px; height:50px;}
#aboutPlatformModal p small, #aboutProjectModal p small {line-height:1; color:#666666;}
#aboutPlatformModal .content, #aboutProjectModal .content {font-size:0.7rem;}
#aboutPlatformModal .thumb {background-color:#6e6e6e;}
#advancedOptionsModal .modal-header, #advancedOptionsModal .modal-footer {border:0;}
#advancedOptionsModal .card-body > button {width:100px; margin-top:12px;}